@font-face {
  font-family: "K2D-Regular";
  src: url("./fonts/K2D-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "K2D-Bold";
  src: url("./fonts/K2D-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "K2D-SemiBold";
  src: url("./fonts/K2D-SemiBold.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}
:root {
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
  --primary-font-family: "K2D-Regular";
  --secondary-font-family: "K2D-SemiBold";
  --boldest-font-family: "K2D-Bold";
  --spacing-small: 8px;
  --spacing-main: 16px;
  --spacing-large: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}

header {
  padding: 12px;
  color: var(--primary-text-color);
  border-bottom: 1px solid #fff;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  font-family: var(--boldest-font-family);
}

body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  margin: 0;
}

.main-contact-us {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field,
textarea {
  font-size: calc(0.7rem + 0.8vw);
  margin: var(--spacing-small) 0;
  color: var(--primary-text-color);
}

legend,
label {
  color: var(--primary-text-color);
  font-size: calc(0.8rem + 1vw);
  font-family: var(--primary-font-family);
}

label.required,
label {
  text-align: center;
}

input#first-name,
input#telephone,
textarea#message {
  border-radius: 10px;
  color: black;
}

input#first-name,
input#telephone {
  display: flex;
  align-items: center;
  text-align: center;
}

fieldset {
  border: 3px solid white;
  border-radius: 30px;
  margin: var(--spacing-large) var(--spacing-main);
  font-family: var(--primary-font-family);
}

.send-button {
  background-image: linear-gradient(#f8a4d8, #6d64ff);
  border: 3px solid var(--primary-text-color);
  border-radius: 30px;
  color: var(--primary-text-color);
  font-size: calc(0.8rem + 1vw);
  margin: 6px 12px;
  padding: var(--spacing-main);
  transition: all linear 0.4s;
  font-family: var(--primary-font-family);
}

.user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-information,
.message-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.field,
form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-img {
  width: 300px;
  height: auto;
  border-radius: 30px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
button:hover {
  background-image: linear-gradient(#6d64ff, #f8a4d8);
  color: black;
  cursor: pointer;
}

textarea {
  height: 80px;
  width: auto;
}

.required::after {
  color: red;
  content: "*";
}

input[type="text"] {
  border: 2px solid black;
  border-radius: 5%;
  font-size: calc(0.7rem + 1vw);
  padding: var(--spacing-small);
}

footer {
  background: var(--primary-gradient-background);
  border-top: 1px solid #dee2e6;
  color: var(--primary-text-color);
  max-height: 15%;
  min-height: 82px;
  padding: var(--spacing-large);
  text-align: center;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 4rem;
  }
  .contact-img {
    width: 650px;
    height: auto;
    border-radius: 30px;
  }
  fieldset {
    border: 4px solid white;
    margin: 24px 72px;
    border: 5px solid white;
    margin: 24px 120px;
  }

  .send-button {
  }

  .contact-information,
  .message-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 75%;
  }

  .contact-information fieldset,
  .message-wrapper fieldset {
    width: 70%;
    height: auto;
  }

  textarea#message {
    padding: 20px;
    height: 180px;
  }
}
