/* :root {

} */

*{
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: aqua;
    min-height: 100%; 
}

nav {
    top: 0;
    position: sticky;
}

nav ul {
    list-style-type: none;
}









@media screen and (min-width: 991px) {
    
}


