:root {
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
  --primary-font-family: "K2D-Regular";
  --secondary-font-family: "K2D-SemiBold";
  --boldest-font-family: "K2D-Bold";

  --spacing-small: 8px;
  --spacing-main: 16px;
}



* {
  box-sizing: border-box;
}



/* FONT PART */
/* K2D Regular */
@font-face {
  font-family: "K2D-Regular";
  src: url("./fonts/K2D-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "K2D-Bold";
  src: url("./fonts/K2D-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "K2D-SemiBold";
  src: url("./fonts/K2D-SemiBold.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  background: var(--background-color);
  margin: 0;
}

header {
  padding: 16px;
  color: var(--primary-text-color);
}

h1 {
  font-family: --primary-font-family;
  text-align: center;
}

nav {
  top: 0;
  position: sticky;
}

nav ul {
  display: none;
  list-style-type: none;
  cursor: pointer;
}

main {
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  align-self: center;
}

button {
  background: none;
  margin: 0 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--primary-font-family);
  font-size: 1.3rem;
  border: 1px solid #fff;
}

button a {
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 1.2rem;
}

footer {
  background: var(--primary-gradient-background);
  text-decoration: none;
  border-top: 1px solid #dee2e6;
  color: var(--primary-text-color);
  text-align: center;
  padding: 24px;
  max-height: 15%;
}

footer a {
  text-decoration: none;
}

#demo {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#demo div {
  display: none;
  text-align: center;
}

#demo div img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 991px) {

  nav .hamburger-menu {
    display: none;
  }

  nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  nav>ul>li {
    border-bottom: 3px solid white;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-main);
    text-align: center;
}





}




