:root {
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
  --primary-font-family: "K2D-Regular";
  --secondary-font-family: "K2D-SemiBold";
  --boldest-font-family: "K2D-Bold";

  --spacing-small: 8px;
  --spacing-main: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

/* ----- NAVBAR ----*/
nav a{
  color:#fff;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}




body {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  background: var(--background-color);
  margin: 0;
}

h1 {
  font-family: --primary-font-family;
  text-align: center;
}

main {
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  align-self: center;
}

button {
  background: none;
  margin: 0 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--primary-font-family);
  font-size: 1.3rem;
  border: 1px solid #fff;
}

button a {
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 1.2rem;
}

/*----- Our Team ---*/

main {
  padding: 15px 20px 25px;

}
.about-us h1 {
  color: #fff;
  font-weight: bold;

}

.our-team h2{
  padding: 15px 0px 25px;
  color: white;
  
}

.our-team p {
  padding: 15px 0 25px;
  color: white;

}

/* ---- Footer ----*/

footer {
  background: var(--primary-gradient-background);
  text-decoration: none;
  border-top: 1px solid #dee2e6;
  color: var(--primary-text-color);
  text-align: center;
  padding: 24px;
  max-height: 15%;
  background-color: black;

}

footer a {
  text-decoration: none;
}

.footer-content h3 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 48px;
  height: 100px;
}

.footer-content p {
  margin: 20px;

}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-align: center;
  margin: 10px auto;
}

/* SLIDESHOW STYLING */

body section.slideshow {
  position: relative;
  display: block;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  visibility: hidden;
  overflow: hidden;
}

body section.slideshow ul.navigation {
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
  left: 15px;
  top: 50%;
  margin-top: -150px;
  z-index: 10;
}

body section.slideshow ul.navigation li.navigation-item {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: border 0.6s ease-in-out;
}

body section.slideshow ul.navigation li.navigation-item .rotate-holder {
  position: fixed;
  display: block;
  width: 0;
  height: 0;
  left: -9999px;
  top: -9999px;
}

body section.slideshow ul.navigation li.navigation-item .background-holder {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

body section.slideshow ul.navigation li.navigation-item:hover .background-holder {
  opacity: 0.75;
}

body section.slideshow ul.navigation li.navigation-item.active .background-holder {
  opacity: 0;
  visibility: hidden;
}

body section.slideshow .detail {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
}

body section.slideshow .detail .detail-item {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

body section.slideshow .detail .detail-item .headline {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 480px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
}

body section.slideshow .detail .detail-item .headline .letter {
  position: relative;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  font-kerning: none;
  white-space: nowrap;
  box-sizing: border-box;
  text-transform: uppercase;
}

body section.slideshow .detail .detail-item .background {
  position: absolute;
  display: block;
  width: 100%;
  width: calc(100% + 100px);
  height: 100%;
  height: calc(100% + 100px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

body section.slideshow .detail .detail-item .background::before {
  content: "";
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

body section.slideshow .detail .detail-item.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 991px) {

  button {
    font-family: var(--primary-font-family);
  }

  /* SLIDER CSS */
}
