:root {
    --primary-text-color: #eee;
    --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);

    --primary-font-family: "K2D-Regular";
    --secondary-font-family: "K2D-SemiBold";
    --boldest-font-family: "K2D-Bold";
  
    --spacing-small: 8px;
    --spacing-main: 16px;
    --spacing-large: 36px;
  }

 
header {
    color: var(--primary-text-color);
    display: flex;
    grid-template-columns: 1fr 1.2fr 0.5fr;
    justify-content: space-between;
    margin:0;
    padding: var(--spacing-small);
}
  
nav ul {
    cursor: pointer;
    display: none;
    list-style-type: none;
    top: 0;
}

.submenu li {
    padding-left: var(--spacing-main);
}
.hamburger-menu {
    height: 50px;
    width: 50px;
}

.logo-mobile {
    height: 55px;
    width: 55px;
}
  
  @media screen and (min-width: 991px) {
    header {  
        display: block;
        margin-right: var(--spacing-large);
        margin-left: var(--spacing-large);
    }

    nav .hamburger-menu {
      display: none;
    }

    .logo-mobile {
        display: none;
    }
  
    nav > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
    }
  
    nav > ul > li {
      
      cursor: pointer;
      padding: var(--spacing-small) var(--spacing-main);
      
    }
    .submenu li {
        padding-left: none;
    }
  

  }
  