:root {
    --primary-text-color: #eee;
    --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
    --primary-font-family: "K2D-Regular";
    --secondary-font-family: "K2D-SemiBold";
    --boldest-font-family: "K2D-Bold";
  
    --spacing-small: 8px;
    --spacing-main: 16px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100vh;
  }
  
  /* ----- NAVBAR ----*/
  nav a{
    color:#fff;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  
  