* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  margin: 0;
}

header {
  padding: 12px;
  color: var(--primary-text-color);
  border-bottom: 1px solid #fff;
}


nav a{
  color:#fff;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

*/
.content {
  align-self: center;
}

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.company-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
  border-radius: 20px;
  margin: 5px 0;
  padding: 2px;
  width: 70%;
}

.company-img {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.company-description {
  text-align: center;
}
.main-content {
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-filters {
  display: flex;
  flex-direction: row;
}

.button.content {
  display: flex;
  justify-content: space-around;
}

button {
  background: none;
  margin: 0 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  border: 1px solid #fff;
}

button a {
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 1.2rem;
}

footer {
  background: var(--primary-gradient-background);
  text-decoration: none;
  border-top: 1px solid #dee2e6;
  color: var(--primary-text-color);
  text-align: center;
  padding: 24px;
  max-height: 15%;
}

footer a {
  text-decoration: none;
}

.locationbtn,
.rolebtn,
.fulltimebtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.locationbtn:hover,
.rolebtn:hover,
.locationbtn:focus,
.rolebtn:focus,
.fulltimebtn:focus,
.fulltimebtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-filter {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.filters-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.filters-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.filters-dropdown a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

@media screen and (min-width: 991px) {
  h1 {
    font-family: "K2D", sans-serif;
  }
}
