:root {
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg,rgb(6, 5, 21) 50%,rgb(86, 0, 167) 120%);
  --primary-profile-background-color: linear-gradient(0deg,rgb(186, 170, 207) 50%,rgb(114, 69, 124) 120%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: "K2D-Regular";
  min-height: 100%;
  margin: 0;
}
header {
    padding: 12px;
    color: var(--primary-text-color);
    border-bottom: 1px solid #fff;
  }

 
.select {
    background: #141619;
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 5px;
    height: 3rem;
    width: 8rem;
    transition: background 0.3s;
  }
  
  .select-clicked {
    border: 1px solid #adbfea;
    box-shadow: 0 0 1rem #e99ffe;
  }
  
  .select:hover {
    background: #141619;
  }
  
  .filter-content {
    display: flex;
    padding: 10px;
    justify-content: space-around;
  }
  
  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    margin-right: 5px;
    transition: 0.3s;
  }
  
  .caret-rotate {
    transform: rotate(180deg);
  }
  
  .selected {
    margin-left: 10px;
  }
  
  .menu {
    list-style: none;
    padding: 0.2rem 0.5rem;
    background: #323741;
    border: 1px solid #363a43;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #9fa5b5;
    position: absolute;
    top: 148px;
    width: 8rem;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 110;
  }
  
  .menu li {
    padding: 0.7rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu li:hover {
    background: #9c4bfe;
  }
  
  .active-filter {
    background: #46c3f0;
  }
  
  .menu-open {
    display: block;
    opacity: 1;
  }
  

main {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  padding: 10px;
  overflow:auto;
}

.content {
  align-self: center;
}

.company-container { 
  background: var(--primary-profile-background-color);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  height: 13rem;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.company-text {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px 0;
 
  width: 98%;
}

.company-img {
  height: 100px;
  width: 100px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-filters {
  display: flex;
  flex-direction: row;
}

.button.content {
  display: flex;
  justify-content: space-around;
}

h3 {
  margin: 10px 0 0 0;
  text-align: center;
}


.pop-up-content {
  text-align: center;
}

.modal {
  background: var(--primary-profile-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(251, 246, 246, 0.354),
    0 6px 20px 0 rgba(252, 249, 249, 0.19);
  color: var(--primary-text-color);
  height: 75%;
  max-width: 80%;
  overflow: scroll;
  position: fixed;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  z-index: 100;
}

.modal.active {
  transform: translate(0%, 0%) scale(1);
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.modal-img {
  border-radius: 5px;
  margin-right: 25px;
  width: 50%;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 10px;
}

.modal-header .close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 36px;
  outline: none;
  transform: translate(20%, -100%);
}

.modal-body {
  padding: 10px 15px;
}
.company-right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}
#overlay {
  background-color: rgba(23, 22, 23, 0.641);
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


button a {
  color: var(--primary-text-color);
  padding: 1.2rem;
  text-decoration: none;
}

button.read-more {
  background: var(--background-color);
  border: 3px solid white;
  border-radius: 16px;
  color: var(--primary-text-color);
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  height: 2rem;
  margin: 16px 0 0 32px;
  width: 5rem;
  transform: translate(-50%, -10%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

button.read-more:hover {
  background: rgb(55, 14, 55);

}
/* ---- Footer ----*/

footer {
  background-color: black;
  border-top: 1px solid #dee2e6;
  color: var(--primary-text-color);
  max-height: 15%;
  padding: 24px;
  text-align: center;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}

.footer-content h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  height: 100px;
  text-transform: capitalize;
}

.footer-content p {
  margin: 20px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 10px auto;
  text-align: center;
  word-spacing: 2px;
}




.reset-filter {
  padding: 8px;
}

.resetbtn {
  background-color: darkslateblue;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 7px 7px;
}

@media screen and (min-width: 800px) {
    .profile {
      width: 30%;
      margin: 10px;
      flex-wrap: wrap;
    }
  }
  
  @media screen and (min-width: 991px) {
    main {
      display: flex;
      flex-direction: row;
    }
    .company-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .company-container {
        width: 45%;
    }

    .company-text p{
        font-size: 13px;
    }

    .filter-content {
      flex-direction: column;
      width: 30rem;
    }
  
    .profile {
      width: 30%;
      height: 25%;
      margin: 10px;
      flex-wrap: wrap;
    }
    .select {
      width: 15rem;
      margin: 24px 0 0 10px;
    }
    .menu {
      position: static;
      width: 15rem;
      margin: 12px 0 0 10px;
    }
  
    .modal {
      width: 80%;
      left: 10%;
    }
  
    .filter-content {
      justify-content: unset;
    }
    .modal-header .close-button {
      font-size: 4rem;
      margin: 60px 20px 150px 0;
    }
    .modal-header .title {
      font-size: 3.2rem;
      color: black;
    }
    .modal-body p {
      font-size: 1.2rem;
      color: black;
    }
    .modal-body h3 {
      color: black;
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }