@font-face {
    font-family: "K2D-Regular";
    src: url("./../fonts/k2d-regular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "K2D-Regular";
    src: url("./../fonts/k2d-regular-webfont.woff2");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "K2D-Bold";
    src: url("./../fonts/k2d-bold-webfont.woff");
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: "K2D-Bold";
    src: url("./../fonts/k2d-bold-webfont.woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "K2D-SemiBold";
    src: url("./../fonts/k2d-semibold-webfont.woff");
    font-weight: semibold;
    font-style: normal;
}
@font-face {
    font-family: "K2D-SemiBold";
    src: url("./../fonts/k2d-semibold-webfont.woff2");
    font-weight: semibold;
    font-style: normal;
}